{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html>
  <head><title>Embed</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/avl.collection.css">
  </head>
  <body>
    <div id="collection"></div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/l/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/avl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/collection.js"></script>
    <script type="text/javascript">
      avl.init("{{ api }}");
      avl.collection('#collection', {
          videoCallback: function (event, obj) {
              alert(obj.id);
          }
      });
    </script>
  </body>
</html>
